@model Hot_Mic_Karaoke.Models.Business

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Business</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="BusinessName" class="control-label"></label>
                <input asp-for="BusinessName" class="form-control" />
                <span asp-validation-for="BusinessName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminFirstName" class="control-label"></label>
                <input asp-for="AdminFirstName" class="form-control" />
                <span asp-validation-for="AdminFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminLastName" class="control-label"></label>
                <input asp-for="AdminLastName" class="form-control" />
                <span asp-validation-for="AdminLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BusinessPhoneNumber" class="control-label"></label>
                <input asp-for="BusinessPhoneNumber" class="form-control" />
                <span asp-validation-for="BusinessPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.StreetAddress" class="control-label"></label>
                <input asp-for="Address.StreetAddress" class="form-control" />
                <span asp-validation-for="Address.StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.City" class="control-label"></label>
                <input asp-for="Address.City" class="form-control" />
                <span asp-validation-for="Address.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.State" class="control-label"></label>
                <input asp-for="Address.State" class="form-control" />
                <span asp-validation-for="Address.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.ZipCode" class="control-label"></label>
                <input asp-for="Address.ZipCode" class="form-control" />
                <span asp-validation-for="Address.ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KaraokeNight" class="control-label"></label>
                <input asp-for="KaraokeNight" class="form-control" />
                <span asp-validation-for="KaraokeNight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkHours" class="control-label"></label>
                <input asp-for="WorkHours" class="form-control" />
                <span asp-validation-for="WorkHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
