@model IEnumerable<Hot_Mic_Karaoke.Models.Member>



@{
    ViewData["Title"] = "MemberHomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

    
<center><h2>Alone, it's music.</h2></center>
<center><h2>Together, it's magic.</h2></center>
<div class="row">

    <br>
    <br>
    <br>
    <br>

    <span>
        <h5>Here are the TOP karaoke songs of the week!</h5>
        <iframe width="260" height="215" src="https://www.youtube.com/embed/MYAACNkhrOI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="260" height="215" src="https://www.youtube.com/embed/ZyuEfXD_4es" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="260" height="215" src="https://www.youtube.com/embed/jDWdlWYDX2w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="260" height="215" src="https://www.youtube.com/embed/KN366qvIpZM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </span>
    <h5>Are you up for the challenge of preforming one of the top songs of the week at your next karaoke night?</h5>
    <br>
    <br>
    <br>
    <br>
    <h5>Want to find karaoke tonight?</h5>
    <h5>Click on the map and move it to the area you want to find karaoke spot.</h5>
    <div class="column">
        <span>
            <div id="map" style="height:400px; width:400px;"></div>
            <script>
                var map;
                function initialize() {
                    var center = new google.maps.LatLng(43.0415412, -87.9157659);
                    map = new google.maps.Map(document.getElementById('map'), {
                        center: center,
                        zoom: 15
                    });
                }
               

                       
            </script>
           


            <br>

            <h5>Keep track of your preformances and favorite songs by clicking the tab below.</h5>
            <button><a asp-controller="SongLists" asp-action="Index">Song List</a></button>
        </span>
    </div>
    <div class="column">
        <h5>Dont now the lyrics to a song?</h5>
        <h5>Click the image to search all your favorite song lyrics!</h5>
        <a href="https://www.azlyrics.com"><img src="~/img/lyrics.jpg"></a>
    </div>
    <span>
        <h5>Check out these great perfomances from our Karaoke League!!</h5>
        <iframe width="260" height="215" src="https://www.youtube.com/embed/1YA6QRvLPx0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="260" height="215" src="https://www.youtube.com/embed/bk3AiLnGHH0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="260" height="215" src="https://www.youtube.com/embed/h3hdEUgqV-0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h5>Love what you see?!</h5>
        <h5>Hop on the message board and connect with businesses hosting leagues near you.</h5>
        <button><a asp-controller="Home" asp-action="iChat">Message Board</a></button>
    </span>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyB9whEl4g8WSq6FISWqexwIaL2NhajoTDw">
    </script>
    <script src="~/js/maps.js"></script>



</div>
