@model IEnumerable<Hot_Mic_Karaoke.Models.Member>



@{
    ViewData["Title"] = "MemberHomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<h1>Welcome to Hot Mic Karaoke the #1 spot to connect with other karaoke RockStar!</h1>
<div class="row">
    <div class="col-md-4">
        <div id="map" style="height:400px; width:400px;"></div>
        <script>
            var map;
            function initialize() {
                var center = new google.maps.LatLng(43.0415412, -87.9157659);
                map = new google.maps.Map(document.getElementById('map'), {
                    center: center,
                    zoom: 15
                });
        </script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyB9whEl4g8WSq6FISWqexwIaL2NhajoTDw">
        </script>
        <script src="~/js/maps.js"></script>
    </div>
    </div>
<div class="col-md-8">
    <button><a asp-controller="SongLists" asp-action="Index">Song List</a></button>
   
</div>
