@model IEnumerable<Hot_Mic_Karaoke.Models.Member>



@{
    ViewData["Title"] = "MemberHomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<h1>Welcome to Hot Mic Karaoke the #1 spot to connect with other karaoke RockStar!</h1>
<div> class="col-md-4>"
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SongList.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SongList.Artist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SongList.Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SongList.Rating)
            </th>

            <th></th>
        </tr>
    </thead>
    
</table>
</div>